<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<select id="getBoardList" resultType="BoardVO">
	<![CDATA[
		SELECT *
		FROM mvc_board
		ORDER BY bId
		]]>
	</select>
	
	<select id="getContent" resultType="BoardVO">
		<![CDATA[
			SELECT *
			FROM mvc_board
			WHERE bId = #{bId}
		]]>
	</select>
	
	<update id="upHit">
		<![CDATA[
			UPDATE mvc_board SET
			bHit = bHit+1 
			WHERE bId = #{bId}
		]]>
	</update>
	
	<select id="insertBoard">
		<![CDATA[
		INSERT INTO mvc_board(bName,bTitle,bContent,bDate,bFileName)
		VALUES(#{bName}, #{bTitle}, #{bContent}, now(), #{bFileName})
		]]>
	</select>
	
	<update id="updateBoard">
		<![CDATA[
		UPDATE mvc_board SET
		bTitle = #{bTitle},
		bContent = #{bContent}
		WHERE bId = #{bId}
		]]>
	</update>

	<delete id="deleteBoard">
		<![CDATA[
		DELETE FROM mvc_board
		WHERE bId = #{bId}
		]]>
	</delete>
</mapper>